*.rbc
capybara-*.html
.rspec
*.log
tmp/
log/
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/bundle