<div class="page-header">
  <%= link_to new_jugador_path, :class => 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo jugador
  <% end %>
  <h1>Listado de jugadores</h1>
</div>

<div class="table-responsive">
  <table id="tabla-jugador" class="table table-striped table-bordered table-hover" data-source = "<%= jugadors_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Apodo</th>
            <th>Club</th>
            <th>Posicion</th>
            <th class="text-center col-md-1">Acciones</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>

