<div class="page-header">
  <%= link_to new_equipo_path, :class => 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo equipo
  <% end %>
  <h1>Listado de equipos</h1>
</div>

<div class="table-responsive">
  <table id="tabla-equipo" class="table table-striped table-bordered table-hover" data-source = "<%= equipos_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Participante</th>
            <th>Tactica</th>
            <th class="text-center col-md-1">Acciones</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>
